body {
    margin: 0px;
}

h1 {
    text-align: center;
}

div img {
    width: 70px;
    height: auto;
    float: right;
}

.HomeIcon:hover {
    transform: scale(1.3);
}

.leftarrow {
    float: left;
}

.leftarrow:hover {
    transform: scale(1.3);
}