h1 {
    text-align: center;
}

div img {
    width: 70px;
    height: auto;
    float: right;
}

figure img {
    width: 30%;
}

figcaption {
    width: 30%;
    text-align: center;
}

.HomeIcon:hover {
    transform: scale(1.3);
}