body {
    margin: 0px;
}

.HomeIcon {
    width: 11vh;
    float: right;
}

.HomeIcon:hover {
    transform: scale(1.3);
}

.leftarrow {
    width: 13vh;
    float: left;
    margin-left: 10px;
}

.leftarrow:hover {
    transform: scale(1.3);
}

h1 {
    font-size: 4em;
    line-height: 1.5em;
    padding-top: 5px;
    text-align: center;
}

figure {
    display: flex;
}

.recipePic {
    margin-left: 20px;
    width: 40%;
    border: 1px solid pink;
    border-radius: 20px;
}

figcaption {
    width: 40%;
    text-align: center;
    font-size: 2.5em;
}

.Lists {
    margin: 0 auto;
    font-size: 2.1em;
}

.Lists h2 {
    font-size: 2.25em;
    margin-top: 70px;
    text-align: center;
}

.Lists li {
    line-height: 2.5em;
}

.paragraph {
    margin-left: 35px;
    font-size: 2.1em;
}