html {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    background-color: rgb(180, 198, 197);
}

body {
    margin: 0;
}

header {
    background-color: rgb(44, 72, 76);
    color: rgb(255, 203, 63);
    text-align: center;
    height: 80px;
    line-height: 2.6;
}

h1 {
    margin: 0;
}

.container {
    display: flex;
}

div.image {
    background-image: url("/Images/Two\ Fried\ Eggs.jpg");
    object-fit: cover;
    border: 1px solid black;
    border-radius: 5px;
    width: 35%;
    height: 400px;
    margin: 50px 0 0 110px;
}

div.forms {
    background-color: blueviolet;
    border: 1px solid black;
    border-radius: 5px;
    width: 40%;
    height: 450px;
    margin: 30px 0 0 -5px;
}