html {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    background-image: linear-gradient(to right bottom, rgb(180, 198, 197), rgb(170, 187, 186), rgb(123, 135, 135), rgb(44, 72, 76), rgb(73, 70, 69));
}

body {
    margin: 0;
}

header {
    background-color: rgb(44, 72, 76);
    color: rgb(255, 203, 63);
    text-align: center;
    height: 80px;
    line-height: 2.6;
}

h1 {
    font-family: "Poppins";
    margin: 0;
}

img {
    width: 8vh;
    float: right;
    padding: 5px;
    margin: 10px 20px 0px 0px;
    border: 1px solid rgb(212, 176, 55);
    border-radius: 5px;
}

img:hover {
    width: 8vh;
    padding: 5px;
    border: 1px solid rgb(212, 176, 55);
    box-shadow: 1px 2px 3px yellow;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    display: flex;
}

div.image {
    background-image: url("/Images/Two\ Fried\ Eggs.jpg");
    border: 1px solid black;
    border-radius: 5px;
    width: 35%;
    height: 400px;
    margin: 70px 0 0 110px;
    box-shadow: 10px 5px 20px rgb(65, 73, 72);
}

div.forms {
    background-color: rgb(247, 247, 215);
    border: 1px solid black;
    box-shadow: 10px 5px 20px rgb(65, 73, 72), -10px 5px 10px rgb(65, 73, 72);
    border-radius: 5px;
    width: 37%;
    height: 490px;
    margin: 20px 0 0 -5px;
}

div.div-size {
    background-color: rgb(247, 247, 215);
    border: 1px solid black;
    box-shadow: 10px 5px 20px rgb(65, 73, 72), -10px 5px 10px rgb(65, 73, 72);
    border-radius: 5px;
    width: 37%;
    height: 450px;
    margin: 20px 0 0 -5px;
}

div.div-center {
    position: relative;
    top: 5px;
    left: 30%;
}

div.center-box {
    position: relative;
    top: 50px;
    left: 30%;
    height: 300px;
}

.position {
    text-align: center;
}

input {
    width: 380px;
    height: 35px;
    border: 3px solid rgb(243, 130, 0);
    border-radius: 5px
}

textarea {
    border: 3px solid rgb(243, 130, 0);
    border-radius: 10px;
}

.spn-styles {
    margin-left: 120px;
}

.btn-styles {
    line-height: 1.9;
    width: 25%;
    margin: 3px 5px 0 5px;
    border: 3px solid rgb(216, 185, 49);
    border-radius: 10px;
    color: rgb(247, 247, 215);
    background-color: rgb(243, 130, 0);
    font-weight: bold;
    font-size: 3vh;
    cursor: pointer;
}