@font-face {
    font-family: "Orange Slices";
    src: url("/Fonts/OrangeSlices-lgPK0.otf") format("opentype");
}

body,
h1 {
    margin: 0;
}

body {
    background-color: #fff1d9;
}

header {
    background-color: rgb(44, 72, 76);
    color: rgb(255, 203, 63);
    text-align: center;
    height: 80px;
    line-height: 2.6;
}

.HomeIcon {
    width: 8vh;
    float: right;
    padding: 5px;
    margin: 10px 20px 0px 0px;
    border: 1px solid rgb(212, 176, 55);
    border-radius: 5px;
}

.HomeIcon:hover {
    width: 8vh;
    padding: 5px;
    border: 1px solid rgb(212, 176, 55);
    box-shadow: 1px 2px 3px yellow;
    border-radius: 5px;
    cursor: pointer;
}

h1 {
    font-family: "Orange Slices";
    font-size: 2.5em;
    line-height: 1.2em;
    padding-top: 5px;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

figure img {
    box-sizing: border-box;
    width: 29vw;
    height: 19vw;
    margin: 10px;
    border: 2px solid orange;
    border-radius: 20px;
}

figcaption {
    width: 30vw;
    font-size: 1.23em;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a:link {
    text-decoration: none;
    color: rgb(22, 69, 155);
}

a:hover {
    text-decoration: underline;
    color: blueviolet;
    border: 0.5px solid rgb(235, 147, 235);
    border-radius: 30px;
}

@media only screen and (max-width: 425px) {
    h1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width:375px) {
    h1 {
        font-size: 1.5rem;
    }
    span {
        font-size: 0.8em;
    }
}