html {
    background-color: rgba(241, 235, 235, 0.863);
}

header {
    box-sizing: border-box;
    background-color: red;
    height: 80px;
}

.Lheader {
    width: 20%;
    text-align: center;
    float: left;
}

h1 {
    background-color: rgba(30, 30, 110, 0.171);
}

nav {
    float: left;
    padding-top: 15px;
}

nav li {
    display: inline;
    margin: 5px;
}

.LheaderSbox {
    padding-top: 30px;
    margin-left: 950px;
}

form input {
    width: 250px;
    border-color: black;
    margin-right: 10px;
}

.logo {
    width: 100%;
    height: 440px;
}

img {
    margin-left: 40px;
    padding-top: 90px;
    width: 600px;
    height: 500px;
}

figcaption {
    margin-left: 170px;
}

footer>nav {
    background-color: lightblue;
    width: 100%;
}

footer>nav li {
    list-style-type: none;
    margin: 50px;
    display: inline;
    line-height: 25px;
}

nav li a {
    text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
    cursor: pointer;
}