@font-face {
    font-family: "Orange Slices";
    src: url("/Fonts/OrangeSlices-lgPK0.otf") format("opentype");
}

@media screen and (min-width:320px) {
    body {
        background-color: blue;
    }
}

@media screen and (min-width: 800px) {
    body {
        background-color: red;
    }
}

@media screen and (min-width:1200px) {
    html,
    body {
        padding: 0;
        margin: 0;
        height: 100%;
    }
    body {
        display: flex;
        flex-direction: column;
        background-image: url("/Images/Keto\ Food\ Backgroun\ by\ louis-hansel-phEaeqe555M-unsplash.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
    }
    #page-main {
        flex-grow: 1;
    }
    header {
        box-sizing: border-box;
        background-color: rgb(44, 72, 76);
        height: 80px;
    }
    header h1 {
        font-family: "Orange Slices"
    }
    .Lheader {
        width: 13%;
        text-align: center;
        float: left;
        color: rgb(255, 203, 63);
    }
    nav {
        float: left;
        padding-top: 10px;
    }
    nav li {
        display: inline;
        margin: 5px;
    }
    .btn-styled {
        border: 1.3px solid rgba(219, 147, 12, 0.925);
        padding: 5px;
        color: rgb(255, 228, 63);
        background-color: rgb(44, 72, 76);
        border-radius: 12px;
        line-height: 1.3;
        font-family: "Orange Slices";
        width: 100px;
    }
    .btn-styled:hover {
        box-shadow: 0 2px 1px 0 rgb(243, 228, 20);
        cursor: pointer;
    }
    .btn-styled:active {
        background-color: rgb(233, 233, 17);
        color: rgb(44, 72, 76);
        transform: translateY(6px);
    }
    .LheaderSbox {
        padding-top: 30px;
        margin-left: 950px;
    }
    form input {
        width: 220px;
        margin-right: 10px;
        border: 2px solid rgb(255, 228, 63);
        border-radius: 5px;
    }
    figcaption {
        text-align: center;
        color: rgb(44, 72, 76);
        padding: 10px;
        margin-left: 650px;
        font-family: "Orange Slices";
        font-size: 4vh;
    }
    video {
        box-sizing: border-box;
        border-radius: 10px;
        position: relative;
        left: 790px;
    }
    footer>nav {
        background-color: rgb(41, 190, 36);
        width: 100%;
    }
    footer>nav li {
        list-style-type: none;
        margin: 50px;
        display: inline;
        line-height: 10px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    nav li a {
        color: rgb(7, 73, 29);
        font-weight: bold;
        text-decoration: none;
    }
    nav li a:hover {
        text-decoration: underline rgb(255, 202, 97);
        cursor: pointer;
    }
    figcaption a {
        text-decoration: none;
    }
}