@font-face {
    font-family: "Orange Slices";
    src: url("/Fonts/OrangeSlices-lgPK0.otf") format("opentype");
}

body {
    margin: 0;
    background-image: url("");
    ackground-repeat: repeat-x;
}

header {
    box-sizing: border-box;
    background-color: red;
    height: 80px;
}

header h1 {
    font-family: "Orange Slices";
}

.Lheader {
    width: 20%;
    text-align: center;
    float: left;
}

nav {
    float: left;
    padding-top: 15px;
}

nav li {
    display: inline;
    margin: 5px;
}

.LheaderSbox {
    padding-top: 30px;
    margin-left: 950px;
}

form input {
    width: 250px;
    border-color: black;
    margin-right: 10px;
}

logo {
    box-sizing: border-box;
    width: 100%;
    height: 63px;
}

img {
    width: 550px;
    height: 500px;
    float: left;
}

figcaption {
    text-align: center;
    padding: 10px;
}

video {
    margin-left: 100px;
    border: 20px solid black;
    border-radius: 10px;
    ;
}

footer>nav {
    background-color: lightblue;
    width: 100%;
}

footer>nav li {
    list-style-type: none;
    margin: 50px;
    display: inline;
    line-height: 15px;
}

nav li a {
    text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
    cursor: pointer;
}