.HomeIcon {
    width: 11vh;
    float: right;
}

h1 {
    font-size: 4em;
    line-height: 1.5em;
    padding-top: 5px;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

img {
    box-sizing: border-box;
    width: 29vw;
    margin: 15px;
    border-radius: 20px;
}

figcaption {
    width: 30vw;
    font-size: 2.25em;
    text-align: center;
}